.footer__info {
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    text-align: left;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .footer__info {
        line-height: 17px;
        font-size: 14px;
    }
}