.elements {
  /*max-width: 882px;*/
  width: 73%;
  
  margin: auto;
  /*padding-right: 199px;
  padding-left: 199px;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000000;
  
  grid-gap: 18px;
}

@media screen and (min-width: 1280px) {
  .elements {
    /*max-width: 882px;*/

  }
}

@media screen and (max-width: 1280px) {
  .elements {
  /*max-width: 882px;*/
  
  }
}

@media screen and (max-width: 1024px){
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 14px;
  }
}



@media screen and (max-width: 800px) {

  .elements { /*
    padding-left: 100px;
    padding-right: 100px;
    */


  }
}

@media screen and (max-width: 650px) {
  
  .elements { /*
    padding-left: 50px;
    padding-right: 50px; */



}

@media screen and (max-width: 550px) {
  .elements { /*
    padding-left: 25px;
    padding-right: 25px; */
  }
}


@media screen and (max-width: 425px) {
  .elements { /*
    max-width: 282px;
    padding-left: 19px;
    padding-right: 19px; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    width: 87%; /*последний эксперимент */



  }
}