.popup__close-icon {
  background-image: url("../../../images/closeicon.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  opacity: 1;
  width: 41px;
  height: 41px;

  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -40px;
  right: -37px;
  background-position: center;
}

.popup__close-icon:hover {
  opacity: 0.6;
}