.element__icon {
  margin-right: 20px;
  background-image: url(../../../images/vector.svg);
  background-position: center;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  width: 22px;
  height: 19px;
  padding: 0px;
  background-size: contain;
  background-repeat: no-repeat;

}

.element__icon:hover {
  opacity: 0.6;

}