.element__icon {
    background-image: url("../../../images/vector.svg");
    background-position: center;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
}

.element__icon:hover {
    opacity: 0.5;
  
  }