.element__icon_active {
    background-image: url("../../../../images/likeactive.svg");
    background-position: center;
    
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin-right: 20px;
    width: 22px;
    height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
}

.element__icon_active:hover {
    opacity: 0.5;
  
  }